[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "==25.1.0"
pyright = "==1.1.403"
isort = "==6.0.1"

[requires]
python_version = "3.13"
python_full_version = "3.13.5"
