[user]
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-username
  name = jens
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-useremail
  email = jens@doellmann.com
[core]
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-coreeditor
  editor = nvim
[init]
  # https://git-scm.com/docs/git-config#Documentation/git-config.txt-initdefaultBranch
  defaultBranch = main
# https://git-scm.com/docs/git-config#Documentation/git-config.txt-alias
[alias]
  supdate = submodule update --remote --merge
  cls = clean -Xdf
