name: Analysis

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  linting:
    runs-on: ubuntu-22.04
    defaults:
      run:
        shell: bash
    steps:
      - name: Checking out the repository
        uses: actions/checkout@v6.0.0

      - name: Running ShellCheck
        run: ./scripts/shellcheck.sh
